* {
    font-family: arial black;
    font-weight: bolder;
    color: white;
    overflow-x: none !important;
}
/* MAIN BODY */
body,html {
    background: #000;
    max-width: 100%;
    overflow-x: hidden;
}

/* HOME TITLE */
.popover-title {
    background: black;
    border: none;
  
    margin: 0;
    text-align: center;
    font-size: 10vw;
    z-index: 0;
}

/* MAIN MENU */

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 0px 5px;
    font-size: 15vw;
    border: none;
    
    
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
    right: 6vw;
    top: 10vw;
    text-align: right;

    
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 160px;

    z-index: 10000;
  }
  
  .dropdown-content a {
    color: white;
    padding: 0vw 0vw 5vw;
    text-decoration: none;
    text-align: left;
    display: block;
  
  }
  
  .dropdown-content a:hover {color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .drpbtn:hover {color: #ddd;}




/* PREVIEW SPHERE ONE */



.sphere-one {
    background: transparent;
    height: 45%;
    width: 100%;
    position: absolute;

    overflow: none;
    z-index: 10000;
    top: 55vw;
    left: 0vw;
    
}

.sphere-one h1 {
display: none;
}


#sphere-one canvas {
    background: transparent;
    position: absolute;
    left: 0vw;
    top: 50vw;
    height: 100%;
    width: 100%;
    padding-bottom: 10vw;

  
}

/* SPHERE TWO */
.sphere-two {
    background: transparent;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 10000;
    overflow: none;
    z-index: 10000;
    top: 165vw;
    left: 10vw;
    
}


/* SPHERE ONE - REACTIVE*/

audio {
    position: fixed;
    left: 10px;
    bottom: 15px;
    width: calc(100% - 20px);
  }
  
  audio.active{
    bottom: 10px;
  }
  
  #thefile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
   
    
  }
  
  label.file{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate3d(-50%, -50%, 0);
    padding: 1rem 2rem;
    border-radius: 4px;
    
    background: transparent;
    color: var(--textColor);
    font-size: 1.25em;
    font-weight: 700;
    white-space: nowrap;

    cursor: pointer;
  }
   
  label.file:hover{
      background: transparent;
      transform: translate3d(-50%, -55%, 0);
  }
  
  label.file:active{
      background: transparent;
      transform: translate3d(-50%, -45%, 0);
  }
  /* make smoother */
  label.file.normal{
    transform: translate3d(5%, 50%, 0);
    padding: 0.2rem 2rem;
    font-size: 1rem;
    top: 2vw;
    left: 0;
  }
  

/* LARGE VIEW */

@media (min-width: 768px) {

/* SPHERE ONE */

.sphere-one {
    background: red;
    height: 100px;
    width: 100px;
    position: absolute;
    margin: 5vw;
    padding: 0vw;
    overflow: none;
    z-index: 10000;
    top: 15vw;
    left: 0vw;
    
}

.sphere-one h1 {
    display: block;
    white-space: nowrap;
    padding: 1vw;
}

#sphere-one canvas {
   display: none;

  
}


/* SPHERE TWO */
.sphere-two {
    background: red;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 10000;
    overflow: none;
    z-index: 10000;
    top: 120vw;
    left: 20vw;
    
}


}