* {
    font-family: arial black;
    font-weight: bolder;
    color: white;
    overflow-x: none !important;
}
/* MAIN BODY */
body,html {
    background: #000;
    max-width: 100%;
    overflow-x: hidden;
}

/* HOME TITLE */
.popover-title {
    background: black;
    border: none;
  
    margin: 0;
    text-align: center;
    font-size: 10vw;
    z-index: 1;
}

/* MAIN MENU */

.menu {
    padding-right: 10vw;
    height: 40vw;

}

.menu .plus-button{
    font-size: 15vw;
}

.plus-button:hover{
    color:#F2F3F5;
   
    
}

.dropdown-content {
    position: absolute;
    right: 0vw;
    display: none;
    width: 30vw;
    white-space: nowrap;
    text-align: right;
    overflow: none;

 
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    text-align: right;
    line-height: auto;
    font-size: 3vw;
    padding: 5vw;

}

.menu:hover .dropdown-content {
    display: block; 
}

.dropdown-content:hover {
    color: #F2F3F5;
}

/* PREVIEW SPHERE ONE */

.sphere-one-container {
    background: transparent;
    height: 100vw;
    margin-top: 15vw;
    overflow: none;
}

.sphere-one {
    background: transparent;
    height: 70vw;
    width: 70vw;
    position: absolute;
    margin: 15vw;
    overflow: none;
    z-index: 10000;
    top: 55vw;
    
}

#sphere-one {
    overflow: none;
    background: transparent; 
}

#sphere-one canvas {
    background: transparent;
    position: absolute;
    left: -15vw;
    top: 38vw;

 

  
}

/* SPHERE TWO */

.sphere-two-container {
    background: blue;
    height: 100vw;
    margin-top: 15vw;
    overflow: none;
}

.sphere-two {
    background: transparent;
    border: 1px white solid;
    height: 70vw;
    width: 70vw;
    position: absolute;
    margin: 15vw;
    overflow: none;
    z-index: 10000;
    top: 170vw;


    
}

#sphere-two {
    overflow: none;
    background: transparent; 
}

#sphere-two canvas {
    background: transparent;
    position: absolute;
    left: -15vw;
    top: 160vw;

 

  
}

/* SPHERE ONE - REACTIVE*/

audio {
    position: fixed;
    left: 10px;
    bottom: 15px;
    width: calc(100% - 20px);
  }
  
  audio.active{
    bottom: 10px;
  }
  
  #thefile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
   
    
  }
  
  label.file{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate3d(-50%, -50%, 0);
    padding: 1rem 2rem;
    border-radius: 4px;
    
    background: transparent;
    color: var(--textColor);
    font-size: 1.25em;
    font-weight: 700;
    white-space: nowrap;

    cursor: pointer;
  }
   
  label.file:hover{
      background: transparent;
      transform: translate3d(-50%, -55%, 0);
  }
  
  label.file:active{
      background: transparent;
      transform: translate3d(-50%, -45%, 0);
  }
  /* make smoother */
  label.file.normal{
    transform: translate3d(5%, 50%, 0);
    padding: 0.2rem 2rem;
    font-size: 1rem;
    top: 2vw;
    left: 0;
  }
  

/* LARGE VIEW */

@media (min-width: 768px) {

/* SPHERE ONE */

    .sphere-one-container {
        background: transparent;
     
        overflow: none;
  
    }
    
    .sphere-one {
        background: transparent;
        overflow: none;
        position: absolute;
        z-index: 10000;
        top: 40vw;
        left: -10vw;

        height: 50%;
        width: 28%;
        
    }
    
    #sphere-one {
        overflow: none;
        background: transparent; 
    }

    #sphere-one a {
        z-index: 10000;
    }
    
    #sphere-one canvas {
        background: transparent;
        position: absolute;
        left: 0vw;
        top: 50vw;
        

    }
}